.ant {
  &-layout {
    height: 100vh !important;

    &-sider {
      min-width: 380px !important;
      flex: 0 0 380px !important;
      max-width: 380px !important;
      width: 380px !important;

      @media (max-width: 767px) {
        min-width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        width: 100% !important;
      }

      &-collapsed {
        min-width: 0 !important;
        flex: 0 0 0 !important;
        max-width: 0 !important;
        width: 0 !important;
      }

      &-children {
        background-color: #e8e8e8;
      }
    }
  }

  &-input {
    border-radius: 5px !important;
    height: 40px;
  }

  &-modal {
    &-content {
      border-radius: 8px !important;
    }

    &-body {
      padding: 20px 15px 0 15px !important;
    }

    &-footer {
      border-top: unset !important;
      padding: 15px 15px 20px 15px !important;

      .ant-btn {
        &-primary {
          border-radius: 20px;
          font-size: 18px;
          height: fit-content;
          padding: 5px 20px;
        }

        &:first-child {
          display: none;
        }

      }
    }
  }
}

